/* CSS Reset */

*:where(:not(html, iframe, canvas, img, svg, video):not(svg  *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a, button {
    cursor: revert;
}

ol, ul, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

::placeholder {
    color: unset;
}

:where([hidden]) {
    display: none;
}

/* end CSS reset */

html {
    background: rgb(146, 9, 147);
    background: linear-gradient(197deg, rgba(146, 9, 147, 1) 0%,
    rgba(206, 100, 207, 1) 35%, rgba(112, 75, 186, 1) 100%) no-repeat center center fixed;
    background-size: cover;
    color: rgb(250, 250, 250);
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}